.welcome {
  height: 350px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  color: white;
  margin-top: 4rem;
}
.welcome__container {
  padding: 2.5rem 2rem;
  background-image: linear-gradient(
      to right,
      rgba(3, 37, 65, 0.8) 0%,
      rgba(3, 37, 65, 0) 100%
    ),
    url("../../assets/welcome-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome__container__heading {
  font-weight: 700;
  font-size: 3rem;
}
.welcome__container__subheading {
  font-weight: 700;
  font-size: 1.5rem;
}
.welcome__container__search {
  width: 100%;
  margin: 2rem auto;
}
.welcome__container__search__input {
  width: 100%;
  height: 46px;
  border-radius: 1.5rem;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}
.welcome__container__search__input input{
  width: 100%;
  padding: 0.3rem 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: gray;
}
.welcome__container__search__btn {
  overflow: hidden;
  height: 100%;
  border: none;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  padding: 0 2rem;
  border-radius:  1.5rem;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
