.selector_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid black;
  border-radius: 1rem;
}
.selector {
  display: flex;
  gap: 1rem;
  /* border: 1px solid #032541; */
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
.selector .selected {
  border: none;
  background-color: rgb(3, 37, 65);
  border-radius: 1rem;
  color: #1ed5a9;
  padding: 0.3rem 1rem;
  background-color: #032541;
  font-weight: 500;
  top: 0;
  left: 0;
  transition: left 0.3s;
  color: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
