footer {
  max-width: 100%;
  width: 100%;
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(var(--darkBlue), 1) 70%
  );
  color: #fff;
}
.footer-nav {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 4rem;
  margin: auto;
  padding: 3rem 0 5rem 0;
  border: 1px solid black;
}
.footer-nav a {
  color: #fff;
  text-decoration: none;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.tmdb-footer-logo {
  margin-left: auto;
}
.join-btn-cta {
  border-color: #fff;
  background-color: #fff;
  color: rgba(var(--lightBlue), 1) !important;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius:  .4rem;
}

.footer-nav-link-container{
    display: flex;
    gap: 3rem;
}
.footer-nav-link-container h3{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .4rem;
}
@media (max-width:1000px){
  .footer-nav{
    flex-direction: column;
    align-items: start;
  }
  .tmdb-footer-logo{
    display: none;
  }
  .join-btn-cta{
    margin-left: 1rem;
  }
  .footer-nav-link-container {
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
  }
}